# NODE7 Banking administration
add_ace group.node7_admin node7.banking.admin allow
add_ace group.node7_admin command.bankaccountcreate allow
add_ace group.node7_admin command.bankaccountset allow
add_ace group.node7_admin command.bankaccountadd allow
add_ace group.node7_admin command.bankaccountremove allow
add_ace group.node7_admin command.bankaccountfreeze allow
